version: "3.8"

services:
  opensearch:
    image: opensearchproject/opensearch:2.11.1
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
    ports:
      - "9200:9200"
    volumes:
      - opensearch-data:/usr/share/opensearch/data

  api:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    depends_on:
      - opensearch
    ports:
      - "8000:8000"

volumes:
  opensearch-data: